.testim {
    margin-top: 200px;
    position: relative;
    &__main {
        &__title {
            color: #ffff;
            font-family: Helvetica;
            font-size: 40px;
            padding: 70px 60px;
            border: 1px solid;
            width: 1000px;
            height: 600px;
            background-color: #9C69E2;
            opacity: 0.7;
            border-radius: 50px;
            position: absolute;
        }
    }
    &__slider{
        display: grid;
        position: absolute;
        top: 140px;
        transform: translateX(25%);
    }
    &__bio {
        &__main {
            display: flex;
            padding: 50px 45px;
            width: 500px;
            height: 300px;
            background-color: #fff;
            border-radius: 15px;
        }
        &__subtitle {
            font-size: 17px;
            color: #212253;
            font-family: Avenir;
        }
        &__button {
            font-size: 15px;
            color:#9C69E2;
            font-family: Avenir;
        }
        &__deckr {
            width: 320px;
            font-size: 18px;
            color: #7c94a3;
            font-family: Avenir;
            padding-top: 30px;
        }
        &__info {
            padding-left: 40px;
        }
    }
    &__slider {
        position: relative;
    }
}

// .slick-dots {
//     list-style-type: none;
//     display: flex;
//     justify-content: space-between;
//     width: 130px;
//     li {
//         border: none;
//     }
// }
